name: Build

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'
      - 'hotfix-*'

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ '8.0.x', '11.0.x' ]
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
      - name: Maven Build
        run:  ./mvnw -Dmaven.test.failure.ignore=true clean verify --no-transfer-progress
