name: Build

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'
      - 'hotfix-*'

jobs:
  build_8:
    name: "Build JDK 1.8"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Maven Build
        run:  ./mvnw -Dmaven.test.failure.ignore=true clean verify --no-transfer-progress
  build_11:
    name: "Build JDK 11"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
      - name: Maven Build
        run: ./mvnw -Dmaven.test.failure.ignore=true clean verify --no-transfer-progress

