name: Publish Release

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11.0.x

      - name: Set up Maven
        uses: s4u/maven-settings-action@v3.0.0
        with:
          servers: '[{"id": "ossrh", "username": "${{secrets.OSSRH_USERNAME}}", "password": "${{secrets.OSSRH_PASSWORD}}"}]'

      - name: Set up GPG
        run: |
          export GPG_TTY=$(tty)
          echo -n "${GPG_PRIVATE_KEY}" | base64 --decode | gpg --batch --import
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: "Maven Build"
        run: ./mvnw -Dinvoker.skip=true install

      - name: "Maven Publish"
        run: |
          ./mvnw -Dinvoker.skip=true -Pgpg deploy \
                 -Dgpg.keyname=${GPG_KEY_ID} \
                 -Dgpg.passphrase=${GPG_PASSPHRASE} \
        env:
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
